<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    
    <link rel="stylesheet" href="{% static "css/lesson_style.css" %}"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>HDLP</title>
</head>
<body>
    <div id="content">
        
        <button onclick="topFunction()" id="myBtn" title="go to top">Top</button>

        <!-- <header>Header</header> -->
        <nav role="navigation">

          <div class="content">
            <div>
              <h2>Welcome <span class="welcome">Mr.Sunshine!</span></h2>
            </div>
            
            <div class="links">
              <a href="/">Parent View</a>
              <a href="">Language</a>
              <a href="">Settings</a>
              <a href="">Log Out</a>
            </div>
            <i class="material-icons menu" onclick="menu()">menu</i>
          </div>

          <div class="dropdown">
            <a href="">Parent View</a>
            <a href="">Language</a>
            <a href="">Settings</a>
            <a href="">Log Out</a>
          </div>

        </nav>


        <main id="menu">

        <ul>

          <li><a href="#">Self Care</a>

            <ul>
              <li><a href="#">Personal Hygiene</a>
                <ul>
                  <li><a href="#">Washing Face</a></li>
                  <li><a href="#">Washing Hands</a></li>
                  <li><a href="#">Washing Feet</a></li>
                  <li><a href="#">Cutting Nails</a></li>
                  <li><a href="#">Brushing Hair</a></li>
                  <li><a href="#">Brushing Teeth</a></li>
                </ul>
              </li>

              <li><a href="#">Healthy Diet</a>
               
              <li><a href="#">Healthy Habits</a></li>
            </ul>

          </li>


          
        </ul>
      </main>

      <main id="menu">

        <ul>

          


          <li><a href="#">Environmental Care</a>

            <ul>

              <li><a href="#">Helping Others</a>

                <ul>

                  <li><a href="#">Helping Parents</a>
                    <ul>
                      <li><a href="#">Offer Help</a></li>
                      
                    </ul>
                  </li>

                  <li><a href="#">Helping Friends</a>
                    <ul>
                      <li><a href="#">Move Things</a></li>
                      <li><a href="#">To do Assignment</a></li>
                    </ul>
                  </li>

                  <li><a href="#">Helping Grandparents</a>
                    <ul>
                      <li><a href="#">Offer Help</a></li>
                      <li><a href="#"></a></li>
                    </ul>
                  </li>

                  <li><a href="#">Helping Teachers</a>
                    <ul>
                      <li><a href="#">Offer Help</a></li>
                      <li><a href="#"></a></li>
                    </ul>
                  </li>
                  
                </ul>

              </li>

              <li><a href="#">Home Care</a>

                <ul>

                  <li><a href="#">Bedroom</a>
                    <ul>
                      <li><a href="#">Making Bed</a></li>
                      <li><a href="#">Changing Bedding</a></li>
                      <li><a href="#">Orginizing Clothes</a></li>
                      <li><a href="#">Orginizing Toys</a></li>
                    </ul>
                  </li>

                  <li><a href="#">Kitchen</a>
                    <ul>
                      <li><a href="#">Washing Dishes</a></li>
                      <li><a href="#">Sweeping Floor</a></li>
                      <li><a href="#">Washing Floor</a></li>
                      <li><a href="#">Cleaning Table</a></li>
                    </ul>
                  </li>

                  <!-- <li><a href="#">Restroom</a></li> -->

                  <li><a href="#">Livingroom</a>
                    <ul>
                      <li><a href="#">Wiping Dust</a></li>
                      <li><a href="#">Wacuum Carpet</a></li>
                      <li><a href="#">Washing Floor</a></li>
                      <li><a href="#">Cleaning Table</a></li>
                    </ul>
                  </li>

                  <li><a href="#">Closet</a>
                    <ul>
                      <li><a href="#">Folding Clothes</a></li>
                      <li><a href="#">Sorting Laundry</a></li>
                      <li><a href="#">Organizing</a></li>
                      <li><a href="#">Cleaning Closet</a></li>
                    </ul>
                  </li>

                </ul>
                
              </li>

              <li><a href="#">Garden Care</a></li>
              <li><a href="#">Animal Care</a></li>
            </ul>

          </li>

          
        </ul>
      </main>
      <main id="menu">

        <ul>

          
          <li><a href="#">Physical Development</a>
            <ul>
              <li><a href="#">Motor Skills</a>

                <ul>
                  <li><a href="#">Fine motor skills</a>
                    <ul>
                      <li><a href="https://www.youtube.com/watch?v=yuVkkhpiHTA" target=_blank">Exercise 1</a></li>
                      <li><a href="#">Exercise 2</a></li>
                      <li><a href="#">Exercise 3</a></li>
                    </ul>
                  </li>

                  <li><a href="#">Gross Motor Skills</a>
                    <ul>
                      <li><a href="#">Exercise 1</a></li>
                      <li><a href="#">Exercise 2</a></li>
                      <li><a href="#">Exercise 3</a></li>
                    </ul>
                  </li>
                  
                  
                </ul>
              </li>

              <li><a href="#">Brain&Brain Coordination</a></li>
               
            </ul>
          
          </li>
          
        </ul>
      </main>

      <main id="menu">

        <ul>

             
          <li><a href="#">Personality Development</a>
            <ul>
              <li><a href="#">Communication</a>

                <ul>
                  <li><a href="#">Interacting with Child</a>
                    <ul>
                      <li><a href="#">Making Friend</a></li>
                      <li><a href="#">Asking for Help</a></li>
                      <li><a href="#">Apologising</a></li>
                    </ul>
                  </li>

                  <li><a href="#">Interacting with Adults</a>
                    <ul>
                      <li><a href="#">Seeking Atteniton</a></li>
                      <li><a href="#">Asking for Help</a></li>
                      <li><a href="#">Asking for Permission</a></li>
                    </ul>
                  </li>
                  
                  
                </ul>
              </li>

              <li><a href="#">Self-Analysis</a></li>
               
              <li><a href="#">Self-Development</a></li>
            </ul>
          
          </li>
          
        </ul>

      </main>

      <main id="menu">

        <ul>  
         

             
              <li><a href="#">Intellectual Development</a>
                <ul>
                  <li><a href="#">Math</a>
    
                    <ul>
                      <li><a href="#">Addition</a>
                        <ul>
                          <li><a href="#">JetSki Addition</a></li>
                          
                          
                        </ul>
                      </li>
                      <li><a href="#">Substructions</a></li>
                      <li><a href="#">Division</a></li>
                      
                      <li><a href="#">Multiplication</a></li>
                      <li><a href="#">Fractions</a></li>
                      
                    </ul>
                  </li>
    
                  <li><a href="#">Reading</a></li>
                   
                  <li><a href="#">Science</a></li>
                </ul>
              
              </li>
              
            </ul>
          
         
        
      </main>
      <section>
        <h1>Fine and Gross Motor Skills</h1>

        <div id="player"></div>

        <!-- <iframe width="940" height="531" src="https://www.youtube.com/embed/uuZXbSSgbP0?rel=0&autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        
            <!-- <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                <h1 class="display-4">Making Bed</h1>
                <p class="lead">Watch this video and follow simple steps.</p>
                <video width="75%"  autoplay controls>
                    <source src = "{% static "video/Making_my_bed.mp4" type="video/mp4" %}" >
                    Your browser does not support HTML5 video.
                </video>
            </div> -->
        <!-- <div class="video_links">
            <a href="#" id="prev">prev</a> 
            <a href="#" id="next">next</a> 
        </div> -->
         
          
      </section>

      <!-- <section2>
        <h1>How to make your bed</h1>
        <div>
            <img src="{% static "img/listen-1.jpg" %}" width="10%" height="10%" alt="Listen">

            <audio id="myAudio">
                
                <source src="{% static "sounds/making_a_bed.mp3" type="audio/mpeg" %}" >
                Your browser does not support the audio element.
            </audio>
            
            <p>Click the buttons to play or pause the audio.</p>
            
            <button onclick="playAudio()" type="button">Play Audio</button>
            <button onclick="pauseAudio()" type="button">Pause Audio</button> 
            
            <script>
            var x = document.getElementById("myAudio"); 
            
            function playAudio() { 
                x.play(); 
            } 
            
            function pauseAudio() { 
                x.pause(); 
            } 
            </script>
        </div>

        <div class="">
            <p><br>How to Make Your Bed.<br>
                You've probably heard it from your mother a million times, but making your bed every morning is a must.<br>
                It makes the entire bedroom look neater and more organized, and It may be hard to believe, but making your bed everyday will actually boost your happiness levels!<br>
                First. Fix your Pillow. Make sure you give it a good shake!<br>
                Second. Straighten a blanket. Take your time. One step at a time! Start from any corner and continue clockwise until you are done.<br>
                Awesome job!<br>
                Now let's get washed up!<br>
            </p>
        </div>
      </section2> -->

      <footer1>

        <div class="copyright">
            <img class="mb-1" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
            <small class="d-block mb-3 text-muted">Human Development and Learning Platform &copy;2020</small>
            </div>

      </footer1>
        
      <footer class="footer_content">
        
            
        <div class="footer_links">

          <div class="">
          <h5>Friends</h5>
          <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="https://halcyonhouse.org/incubator" target="_blank">Halcyon Incubator</a></li>
              <li><a class="text-muted" href="https://edlazarchuk.com/" target="_blank">Ed Lazarchuk</a></li>            </ul>
          </div>

          <div class="">
          <h5>Resources</h5>
          <ul class="list-unstyled text-small">
              <!-- <li><a class="text-muted" href="#">Resource</a></li> -->
              <li><a class="text-muted" href="https://www.w3schools.com/" target="_blank">w3scools</a></li>
              <li><a class="text-muted" href="#">Another resource</a></li>
              <li><a class="text-muted" href="#">Final resource</a></li>
          </ul>
          </div>

          <div class="">
          <h5>About</h5>
          <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Team</a></li>
              <!-- <li><a class="text-muted" href="#">Locations</a></li> -->
              <li><a class="text-muted" href="#">Privacy</a></li>
              <li><a class="text-muted" href="#">Terms</a></li>
          </ul>
          </div>
        
        </div>
      </footer>
    </div>

 
</body>
<script type="text/javascript">

  var dropdown = document.querySelector("nav .dropdown");
  var button = document.querySelector("nav .menu");

  function menu() {
    if (dropdown.style.display === "grid"){
      dropdown.style.display = "none";
      button.innerHTML = "menu";
    } else {
        dropdown.style.display = "grid";
        button.innerHTML = "close";
      }
  }

  addEventListener("resize", function() {
    window.ineerWidth > 700; {
      dropdown.style.display = "none";
      button.innerHTML = "menu";
    }
  })

// 2. This code loads the IFrame Player API code asynchronously.
var tag = document.createElement('script');

tag.src = "https://www.youtube.com/iframe_api";
var firstScriptTag = document.getElementsByTagName('script')[0];
firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

// 3. This function creates an <iframe> (and YouTube player)
//    after the API code downloads.
var player;
function onYouTubeIframeAPIReady() {
  player = new YT.Player('player', {
    height: '531',
    width: '940',
    videoId: 'yuVkkhpiHTA',
    playerVars:{
        autoplay: 1,
        rel: 0,
    }
    // events: {
    //   'onReady': onPlayerReady,
    //   'onStateChange': onPlayerStateChange,

    // }
  });
}

// 4. The API will call this function when the video player is ready.
// function onPlayerReady(event) {
//   event.target.playVideo();
// }

// 5. The API calls this function when the player's state changes.
//    The function indicates that when playing a video (state=1),
//    the player should play for six seconds and then stop.
// var done = false;
// function onPlayerStateChange(event) {
//   if (event.data == YT.PlayerState.PLAYING && !done) {
//     setTimeout(stopVideo, 6000);
//     done = true;
//   }
// }
// function stopVideo() {
//   player.stopVideo();
// }
//Get the button
var mybutton = document.getElementById("myBtn");
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}

</script>
</html>